.group-images-panel {
  width: 800px;

  >.head {
    display: flex;
    justify-content: space-between;
  }

  hr {
    margin-top: 10px;
  }

  .image-card {
    height: 150px;
    width: 150px;
  }
}