.room-line {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top: var(--regular-border);
  cursor: pointer;

  &.has-new-message {
    background-color: var(--border);
  }

  &:first-child {
    border-top: none;
  }

  &:hover {
    background-color: var(--back-2xlight-gray);
  }

  .room-avatar {
    height: 60px;
    width: 60px;
    border-radius: 50em;
    object-fit: cover;
  }

  .description {
    flex-grow: 3;

    .last-message {

    }
  }

  .right {

    .date {

    }
  }
}

.room-member-line {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }

  img.avatar {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50em;
  }

  .main {
    flex-grow: 3;
  }
}