.create-comment {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-top: var(--regular-border);

  &:first-child {
    border-top: none;
  }

  >img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50em;
  }

  form {
    flex-grow: 3;
    display: flex;
    gap: 10px;

    label {
      height: 50px;
      flex-grow: 3;

      .comment-input {
        margin: 0;
        height: 100%;
        width: 100%
      }
    }
  }
}

.image-comments-creator {
  border-top: var(--regular-border);

  >.up {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;

    >img.avatar-image {
      height: 30px;
      width: 30px;
      object-fit: cover;
      border-radius: 50em;
    }

    >textarea {
      flex-grow: 3;
    }
  }

  >.down {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-top: var(--regular-border);

    >button {
      padding: 5px 10px;
      border-radius: 5px;
    }

    >button.cancel-button {

    }

    >button.send-button {

    }
  }
}