.request-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;

  img.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50em;
    object-fit: cover;
  }

  .desc {
    flex-grow: 3;
  }

  .features {
    display: flex;
    gap: 5px;
    height: 40px;
    border-radius: 5px;
  }
}