.accept-request-button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
}

.cancel-accept-request {
  height: 30px;
  width: 120px;
  border-radius: 5px;
  color: var(--font-green);

  &:hover {
    background-color: var(--border);
  }
}

.change-gmtype-window {
  padding: 10px;

  p {
    text-align: center;
  }

  .input-section {

    label {
      display: block;
      
      input {
        margin-right: 5px;
      }
    }
  }
}