.room-panel {

  &.regular-panel {
    padding: 0;
  }

  .section {
    padding: 10px;
    border-top: var(--regular-border);

    &:first-child {
      border-top: 0;
    }
  }

  .head-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name-status {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .right {
  
      .room-avatar {
        height: 50px;
        width: 50px;
        border-radius: 50em;
        object-fit: cover;
      }
    }
  }

  .creating-message-section {
    display: flex;
    align-items: center;
    gap: 10px;

    .message-input {
      flex-grow: 3;
    }
  }
}