.room-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  // border: 3px solid red;

  main {
    flex-grow: 3;
    overflow: hidden;
    // border: 3px solid blue;
  }

  .room {
    height: 100%;
    // border: 3px solid green;
    overflow: hidden;
  }

  .main {
    height: 100%;
    overflow: hidden;
    padding-bottom: 10px;
  }

  .room-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    // border: 3px solid yellow;

    &.regular-panel {
      padding: 0;
    }

    .section {
      padding: 10px;
      border-top: var(--regular-border);

      &:first-child {
        border-top: 0;
      }
    }

    .head-section {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name-status {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .right {
        display: flex;
        align-items: center;
        gap: 10px;
    
        .room-avatar {
          height: 50px;
          width: 50px;
          border-radius: 50em;
          object-fit: cover;
        }

        ul.function-list {

          li {
            display: flex;
            gap: 10px;
            padding: 10px;

            &:hover {
              background-color: rgb(58,58,58);
              cursor: pointer;
            }
          }
        }
      }
    }

    .messages {
      flex-grow: 3;
      overflow-y: auto;

      .date {
        text-align: center;
      }
    }

    .message-creator-space {

    }

    // .creating-message-section {
    //   display: flex;
    //   align-items: center;
    //   gap: 10px;

    //   .message-input {
    //     flex-grow: 3;
    //   }
    // }
  }
}