.comment-button {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: var(--border);
  border-radius: 50em;

  .commented {
    color: blue;
  }

  &:hover {
    background-color: var(--back-2xlight-gray);
  }
}

.comment {
  border-top: var(--regular-border);
  
  &:first-child {
    border-top: none;
  }
  
  .comment-section {
    display: flex;
    gap: 10px;
    padding: 10px;
    
    .avatar-container {
      .avatar {
        height: 50px;
        width: 50px;
        border-radius: 50em;
        object-fit: cover;
      }
    }
  
    .main {
      flex-grow: 3;
  
      >.body {
        margin-top: 5px;
      }
  
      >.bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3px;
  
        >.left {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }

  .inner {
    margin-left: 50px;
  }
}