.add-post-window {
  width: 600px;

  .section {
    padding: 5px 10px;
  }

  .main {
    .description {
      width: 100%;
    }

    .post-images {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;

      img.post-image {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: var(--regular-border-radius);
      }

      .indexes {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;

    .options {
      display: flex;
      gap: 10px;
      
      span {
        cursor: pointer;
      }
    }

    .load-button {
      height: 25px;
      width: 70px;
      border-radius: var(--small-border-radius);
    }
  }
}