.group-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  
  .avatar {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50em;
      object-fit: cover;
    }

    .desc {

    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: end;

    .buttons {
      display: flex;
      gap: 5px;
      height: 30px;
      
      .subscribe-button {
        height: 100%;
        width: 140px;
      }

      .else-button {
        height: 100%;
        width: 70px;
      }

      .extra-section-line {
        padding: 5px 10px;
        white-space: nowrap;
        cursor: pointer;
      }
    }

    button {
      margin-top: 10px;
      font-size: 1.1rem;
      border-radius: 5px;
    }

  }

  .delete-group-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}