.message-line {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }

  img.user-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50em;
    object-fit: cover;
  }
}

.message-line {
  padding: 10px;

  .main {

    .head {
      display: flex;
      gap: 10px;

    }
  }

  .extra-section {

  }
}

.my-statuses {
  max-height: 600px;
  width: 300px;
  padding: 5px;
  overflow-y: auto;

  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }

  .status-line {
    margin-top: 5px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.messages-list {
  min-height: 100%;
  width: 100%;

}