.info {
      
  .string-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  .add-info {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
}