.all-friends {
  
  .input-block {
    display: flex;
    height: 35px;
    margin-top: 10px;
    border: var(--regular-border);
    border-radius: var(--small-border-radius);

    .input {
      flex-grow: 3;
      padding: 0 5px;
      border-right: var(--regular-border);

      input {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: inherit;
        color: var(--font-white);
      }
    }

    button {
      width: 50px;
    }
  }

  .friend-list {

    .just-cause {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
    }

    .user-friend-card {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      height: 90px;
      width: 100%;
      margin-top: 10px;
      border-radius: var(--regular-border-radius);
      // overflow: hidden;

      .black-out {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--regular-border-radius);
      }
  
      img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 50em;
      }
  
      .main-info {
        flex-grow: 3;
  
        .login {
          display: inline;
          cursor: pointer;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .user-extra-section {
        position: relative;
        // z-index: 5000;
        // top: 10px;
        // right: 20px;
      
        .extra-user-panel {
          position: absolute;
          z-index: 1000;
          right: 0;
          width: 150px;
          margin-top: 30px;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s, margin-top 0.3s;
      
          >h4 {
            margin-top: 0;
            padding: 10px 10px;
      
            &:hover {
              background-color: rgb(58,58,58);
              cursor: pointer;
            }
          }
        }
      
        &:hover .extra-user-panel {
          z-index: 9000;
          margin-top: 0px;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.user-friend-deleted {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  margin-top: 10px;
  border: var(--regular-border);
  border-radius: var(--regular-border-radius);

  button {
    font-size: 1rem;
  }

  .black-out {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--regular-border-radius);
  }
}




