.all-friends {
  
  .input-block {
    display: flex;
    height: 35px;
    margin-top: 10px;
    border: var(--regular-border);
    border-radius: var(--small-border-radius);

    .input {
      flex-grow: 3;
      padding: 0 5px;
      border-right: var(--regular-border);

      input {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: inherit;
        border: none;
        color: var(--font-white);
      }
    }

    button {
      width: 50px;
    }
  }

  .friend-list {

    .just-cause {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
    }
  }
}

.user-friend-deleted {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  margin-top: 10px;
  border: var(--regular-border);
  border-radius: var(--regular-border-radius);

  button {
    font-size: 1rem;
  }

  .black-out {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--regular-border-radius);
  }
}




