.music-line {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;

  &:first-child {
    margin-top: 0;
  }

  .image-container {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    overflow: hidden;

    img.music-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .image-cover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      // z-index: 5555;
      display: flex;
      justify-content: center;
      align-items: center;

      button.play {
        display: none;
      }
    }
  }
  
  &:hover .image-cover {
    background: rgba(0, 0, 0, 0.5);

    button.play {
      display: inline;
    }
  }

  .description {
    flex-grow: 3;
    
    .musician-name {

      &:hover {
        text-decoration: underline;
      }
    }

    .music-name {
      color: var(--font-gray);
    }
  }

  .right {
    display: flex;
    gap: 10px;
  }
}