.album-list {

  .head {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .right {

      button.add-album-button {
        height: 30px;
        width: 100px;
        border-radius: 5px;
      }
    }
  }


  .add-album-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 1rem;
  }
}